<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeChecker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CodeChecker.My.MySettings>
            <setting name="var_TOUT" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="var_TOn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="var_TOFF" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="var_INTERVAL" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SKU" serializeAs="String">
                <value />
            </setting>
            <setting name="mode" serializeAs="String">
                <value>1</value>
            </setting>
        </CodeChecker.My.MySettings>
    </userSettings>
</configuration>